<!-- made by Miguel Rodrigues @ KBZ miguel.rodrigues@knowledgebiz.pt -->
<h1>Application Manager for {{developerid}}</h1>
<br>
<div class="alert alert-danger" role="alert" ng-if="error">
  <strong>{{error}}</strong>
</div>

<table class="table" ng-if="!error">
  <thead>
    <tr>
      <th>AppID</th>
      <th>Developer ID</th>
      <th>App Token</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="app in apps">
      <td>{{app.appID}}</td>
      <td>{{app.developerID}}</td>
      <td>{{app.token}}</td>
      <td>
        <button class="btn btn-primary btn-sm" ng-click="redirect(app.appID, 1)">Notifications <span class="badge">{{app.notifications}}</span></button>
        <button class="btn btn-warning btn-sm" ng-click="redirect(app.appID, 2)">Rules <span class="badge">{{app.rules}}</span></button>
        <button class="btn btn-danger btn-sm" ng-click="delete(app.appID)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="pull-center" ng-if="!error"><button class="btn btn-xs btn-success" type="button" ng-click="redirectCreateApp()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>CREATE NEW APP</button></div>
<br><br>
<div class="alert alert-success" ng-if="show" ng-if="!error">
  <strong>Success!</strong> You have successfully deleted the vApp.
</div>

