<!-- made by Miguel Rodrigues @ KBZ miguel.rodrigues@knowledgebiz.pt -->
<h1>Register APP</h1>

<br><br>
<!-- APP REGISTRATION FORM-->
<div class="container">
	<form>
		<div class="form-group row has-danger">
			<label class="col-sm-2 col-form-label">AppID</label>
			<div class="col-sm-5">
				<input type="text" class="form-control form-control-danger" ng-model="appID" placeholder="vAppID">
				<div ng-if="successappID == 1"><font color="green">Success! You've done it.</font></div>
				<div ng-if="successappID == 2"><font color="red">Fail! Input cannot be null.</font></div>
				<small class="form-text text-muted">It´s vApp ID</small>
			</div>
		</div>
		<div class="form-group row has-danger">
			<label class="col-sm-2 col-form-label">DeveloperID</label>
			<div class="col-sm-5">
				<input type="email" class="form-control form-control-danger" ng-model="developerID" placeholder="name@example.com">
				<div ng-if="successDeveloperID == 1"><font color="green">Success! You've done it.</font></div>
				<div ng-if="successDeveloperID == 2"><font color="red">Fail! Input cannot be null and only can be Email.</font></div>
				<small class="form-text text-muted">It´s Email of DeveloperID</small>
			</div>
		</div>
		<center>
			<button class="btn btn-primary" type="button" value="Send" ng-click="postdata(appID, developerID)">Register APP</button>
		</center>
	</form>
</div>
</div>
<br><br>
<div class="alert alert-success" ng-if="show">
	<strong>Success!</strong> You have successfully created the vApp.
</div>
<div class="alert alert-danger" ng-if="showError">
	<strong>Error!</strong> Error to creating a vApp.
</div>